body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 100px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    left: 30%;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

.navbar-nav .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #ffdd57;
}

.hero {
    text-align: center;
    background-color: #fff;
    padding: 100px 50px 50px; /* Adjusted for space under navbar */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 60px; /* Added margin to avoid overlap with navbar */
}

.hero-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.hero-footer .button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.hero-footer .button:hover {
    background-color: #0056b3;
}
